body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Allow vertical scrolling */
    position: relative;
    background: url('../static/images/img.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    margin-top: 50px;
    padding-bottom: 100px; /* Ensure some space at the bottom */
    background: rgba(0, 0, 0, 0.5); /* Dark overlay to make text readable */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffcccb; /* Light pink */
}

.message {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    color: #0a043c; /* Dark blue */
}

.love-calculator {
    font-size: 1.2em;
    margin-top: 30px;
    background-color: #fff3cd;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    color: #0a043c; /* Dark blue */
}

.gallery {
    margin-top: 30px;
}

.gallery img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.video-container {
    margin-top: 20px;
}

video {
    width: 80%;
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
